<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.nhzw.common.service">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:allowBackup="true"
                 tools:replace="android:allowBackup"
        android:supportsRtl="true">

    </application>

</manifest>
